<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Книги</title>
  <style>
    th,td{
      border: solid black;
    }
  </style>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Книги</h1>

<a href="/book/add" class="btn btn-success">Добавить книгу</a>

<table style="border: solid black">
  <tr>
    <th>Название</th>
    <th>Жанр</th>
    <th>Издательство</th>
    <th>Место издания</th>
    <th>Автор</th>
    <th>Действие</th>
  </tr>
  <tr th:each="el : ${book_list}">
    <td th:text="${el.title}"></td>
    <td th:text="${el.genre}"></td>
    <td th:text="${el.publishinghouse}"></td>
    <td th:text="${el.placeofpublication}"></td>
    <td th:text="${el.author}"></td>
    <td>
      <a th:href="'/book/detail/' + ${el.UID}">Редактировать</a>
    </td>
  </tr>
</table>

</body>
</html>