<div th:fragment="headerMain" class="nav-container">
    <nav class="nav-menu">
        <div style="padding: 10px 60px;">
            <a class="nav-a" href="/book/add">Добавить книгу</a>
            <a class="nav-a" href="/author/">Авторы</a>
            <a class="nav-a" href="/stationery/">Канцтовары</a>
            <a class="nav-a" href="/admin/">Пользователи</a>

            <form class="nav-a" th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger" value="Выход"/>
            </form>
            <!--        <a class="nav-a" href="/book/add">Добавить книгу</a>-->
        </div>
    </nav>
</div>
<div th:fragment="headerMainAuthor" class="nav-container">
    <nav class="nav-menu">
        <div style="padding: 10px 60px;">
            <a class="nav-a" href="/author/add">Добавить автора</a>
            <a class="nav-a" href="/book/">Книги</a>
            <a class="nav-a" href="/stationery/">Канцтовары</a>
            <a class="nav-a" href="/user/">Пользователи</a>
            <!--        <a class="nav-a" href="/book/add">Добавить книгу</a>-->
        </div>
    </nav>
</div>
<div th:fragment="headerAddBook" class="nav-container">
    <nav class="nav-menu">
        <div style="padding: 20px 60px;">
            <a class="nav-a" href="/book/">Главная</a>
            <a class="nav-a" href="/user/">Пользователи</a>
            <!--        <a class="nav-a" href="/book/add">Добавить книгу</a>-->
        </div>
    </nav>
</div>
<div th:fragment="headerAddAuthor" class="nav-container">
    <nav class="nav-menu">
        <div style="padding: 20px 60px;">
            <a class="nav-a" href="/author/">Главная</a>
            <a class="nav-a" href="/user/">Пользователи</a>
            <!--        <a class="nav-a" href="/book/add">Добавить книгу</a>-->
        </div>
    </nav>
</div>
<div th:fragment="headerStationery" class="nav-container">
    <nav class="nav-menu">
        <div style="padding: 20px 60px;">
            <a class="nav-a" href="/author/">Авторы</a>
            <a class="nav-a" href="/book/">Книги</a>
            <a class="nav-a" href="/shop/">Магазины</a>
            <a class="nav-a" href="/user/">Пользователи</a>
            <!--        <a class="nav-a" href="/book/add">Добавить книгу</a>-->
        </div>
    </nav>
</div>
<div th:fragment="headerShops" class="nav-container">
    <nav class="nav-menu">
        <div style="padding: 20px 60px;">
            <a class="nav-a" href="/author/">Авторы</a>
            <a class="nav-a" href="/book/">Книги</a>
            <a class="nav-a" href="/stationery/">Канцтовары</a>
            <a class="nav-a" href="/user/">Пользователи</a>
            <!--        <a class="nav-a" href="/book/add">Добавить книгу</a>-->
        </div>
    </nav>
</div>
<div th:fragment="headerUsers" class="nav-container">
    <nav class="nav-menu">
        <div style="padding: 20px 60px;">
            <a class="nav-a" href="/author/">Авторы</a>
            <a class="nav-a" href="/book/">Книги</a>
            <a class="nav-a" href="/stationery/">Канцтовары</a>
            <a class="nav-a" href="/shop/">Магазины</a>
            <!--        <a class="nav-a" href="/book/add">Добавить книгу</a>-->
        </div>
    </nav>
</div>